.worktype-header {
  position: absolute;
  @extend %visuallyHidden;
}

/* worktype-filters */
.worktype-filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 30px;
  @media (min-width: 768px) {
    justify-content: center;
  }
  @media (min-width: 1200px) {
    margin-bottom: 50px;
  }
}
.worktype-filters .item:not(:last-child) {
  margin-right: 8px;
}
.filter-button {
  padding: 6px 22px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  font-family: $main-font-family;
  color: $title-text-color;
  background-color: $section-bgc;
  border-radius: 4px;
  margin-bottom: 10px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $title-text-color2;
    background-color: $button-link-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
  @media (min-width: 768px) {
    margin-bottom: 0px;
  }
}

/* work-examples */

.work-examples {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
.work-examples.item {
  width: 100%;
  margin: 15px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  & a {
    width: 100%;
  }
  & a:hover,
  & a:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  @media (min-width: 768px) {
    width: calc((100% - 4 * 15px) / 2);
  }
  @media (min-width: 1200px) {
    width: calc((100% - 6 * 15px) / 3);
  }
}
.work-photo {
  position: relative;
  overflow: hidden;
  background-color: #eeeeee;
  & img {
    display: block;
    width: 100%;
  }
}

.project-descrption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  background-color: rgba(33, 150, 243, 0.9);
  text-align: left;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.55;
  color: #ffffff;
  opacity: 0.9;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .work-examples a:hover &,
  .work-examples a:focus & {
    transform: translateY(0);
  }
}
.work-examples .description {
  padding: 20px 24px;
  text-align: left;
  background: $title-text-color2;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
.work-examples h3 {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.06em;
  margin-bottom: 3px;
}
.worktype {
  font-size: 16px;
  color: $primary-text-color;
}
