/* основной цвет текста 757575 */
/* основной цвет заголовков  212121 */
/* основной цвет фона FFFFFF */
/* цвет ссылок и кнопок 2196F3 */
/* цвет фона герой, футтер 2F303A */
/* цвет фона секций, кнопок F5F4FA */

$primary-text-color: #757575;
$title-text-color: #212121;
$title-text-color2: #ffffff;
$button-link-color: #2196f3;
$futter-hero-bgc: #2f303a;
$section-bgc: #f5f4fa;
$social-link-color: #afb1b8;

$logo-font-family: "Raleway";
$main-font-family: "Roboto";
